#head {
    text-align: center;
    padding-top: 2rem;
    color: white;
    font-size: 300%;
}
h1 {
    font-family: 'Nerko One', cursive;
}
h2 {

    font-family: 'Nerko One', cursive;   
}
#nav-bar {
    text-align: center;
    padding-bottom: 1rem;
}
#nav {
    display: inline;
    padding: 1rem 5rem;
}
.navi {
    text-decoration: none;
    color: white;
}
.nav2 {
    text-decoration: none;
    color: white;
    font-size: 130%;
}
.upper {
    background-color: lightseagreen;
}
.head { font-weight: bold;
    color: grey;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.head2 {
color: lightseagreen;
}

.section1 {
background-color: rgb(247, 242, 242);
padding-top: 2rem;
padding-bottom: 3rem;
text-align: center;
}
.section3 {
padding-left: 10rem;
padding-right: 10rem;
padding-bottom: 3rem;
font-weight: lighter;
}
.section9 {
background-color: white;
text-align: center;
padding-bottom: 3rem;
}
.date{
color: grey;
}
.tab2 {
text-decoration: none;
color: white;
border-radius: 0.5rem;
background-color: lightseagreen;
padding-left: 0.5rem;
padding-right: 0.5rem;
padding-top: 0.1rem;
padding-bottom: 0.5rem;
}

.footer-1{
text-decoration: none;
color: white;
}
.footer2 {
text-align: center;

padding-bottom: 4rem;
}
#foot2 {
display: inline;
padding-left: 2rem;
padding-right: 2rem;
}
.foot {
background-color: lightseagreen;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
}
.footer1 {
padding-left: 4rem;
padding-top: 3rem;
color: white;
}